# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Compiled Extensions
*.so

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
logs/
*.log

# Environment Variables
.env
.env.*

# IDE files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Dabase
*.sqlite3

# Temporary files
*.tmp
*.temp

# Node Modules
node_modules/

# Next.js
.next/
out/

# Redis Dump
dump.rdb

# Docker
*.pid

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Pyright
.pyright/

# linux hidden files
._*

# ML files
ml/data/
ml/saved_models/
ml/datasets/CIC_IDS_2018/
ml/datasets/UNSW_NB15_datasets/

# Local runtime state
.smartids-runtime.env

#caveman files
.clinerules
.clinerules/*
.cursor
.cursor/*
.github
.github/*
.opencode/*
.opencode
.windsurf
.windsurf/*
